<% var data = {
title: "О компании | Pentcroft",
header: "blue"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<section class="section no-padding-top about">
    <div class="container">
        <div class="breadcrumbs">
            <a href="/" class="item">Главная</a>
            <a href="/" class="item">Компания</a>
            <span class="item">О компании</span>
        </div>

        <div class="tabs-container">
            <div class="title-with-filter margin-top-x2">
                <h1 class="h1 tab-block" data-tab="1">Каталог продуктов</h1>
                <h1 class="h1 tab-block" data-tab="2">Новости</h1>
                <h1 class="h1 tab-block" data-tab="3">Видео</h1>

                <div class="tabs">
                    <div class="item active" data-tab="1">О компании</div>
                    <div class="item" data-tab="2">Новости</div>
                    <div class="item" data-tab="3">Видео</div>
                </div>
            </div>
            <div class="tab-block" data-tab="1">
                <div class="about-banner">
                    <div class="about-banner__text">
                        ЗАО «Пенткрофт Фарма» с момента своего основания ставит своей целью заботу о женском здоровье
                    </div>
                    <div class="about-banner__img" style="background-image: url('./img/about/1.png')"></div>
                </div>

                <p>
                    Путь, начавшийся в 1994 году с работы над синтезом стероидов совместно с ЗАО «Фармсинтез», привёл в 2002 году к выпуску синтетического лекарственного препарата с антигестагенной активностью – «Пенкрофтон» (RU-486). К настоящему моменту ЗАО «Пенткрофт Фарма» предлагает решения и продукты для гинекологии, акушерства, андрологии и хирургии.
                </p>
                <h5 class="h5 margin-bottom-x2 margin-top-x2">Лекарственное обеспечение</h5>
                <p class="margin-bottom-x2">
                    В портфель ЗАО «Пенткрофт Фарма» входит более 50 оригинальных лекарственных средств, БАД и изделий медицинского назначения по направлениям:
                </p>

                <ul>
                    <li> Медикаментозное прерывание беременности</li>
                    <li> Мануальная вакуумная аспирация</li>
                    <li> Внутриматочная контрацепция</li>
                    <li>Профилактика преждевременных родов</li>
                    <li>Подготовка шейки матки и индукция родов</li>
                    <li>Купирование послеродовых кровотечений</li>
                    <li>Недостаточность тазового дна</li>
                    <li> Бесплодие</li>
                    <li>Диагностические тесты</li>
                </ul>

                <h5 class="h5 margin-bottom-x2 margin-top-x2">Развитие науки и исследований</h5>

                <p>
                    ЗАО «Пенткрофт Фарма» сотрудничает с российскими исследовательскими центрами и профильными кафедрами ВУЗов в области клинических исследований инновационных методов диагностики, профилактики и лечения.
                </p>

                <h5 class="h5 margin-bottom-x2 margin-top-x2">Медицинское образование</h5>

                <p class="margin-bottom-x2">
                    ЗАО «Пенткрофт Фарма» имеет многолетний опыт поддержки специалистов в области непрерывного медицинского образования и информации.
                    Собственные образовательные проекты для специалистов здравоохранения в сотрудничестве с ведущими опинион-лидерами:

                </p>

                <ul>
                    <li>
                        «Роды в срок» – это цикл лекций, который посвящён одной из наиболее актуальных проблем – преждевременным родам и возможностям их прогнозирования и профилактики.
                    </li>
                    <li>
                        «Health&Sex» – лекции на стыке специальностей гинекологии, урологии и сексологии раскрывают весь спектр современных возможностей преодоления интимных проблем, связанных с дисфункцией тазового дна. Специально для этого проекта выпущено приложение для мобильных устройств на Android и iOS – «Пролапсы. Тесты».
                    </li>
                    <li>
                        Обучающие лекции в формате вебинаров:
                        <p class="margin-top">—  Безопасный аборт и контрацепция</p>
                        <p class="margin-top">—  Недостаточность тазового дна</p>
                        <p class="margin-top">—  Преждевременные роды и профилактика ИЦН</p>
                        <p class="margin-top">—  Гиперплазия эндометрия</p>
                        <p class="margin-top"> —  Подготовка шейки матки к родам.</p>
                    </li>
                </ul>

                <p>
                    Лекции проводят: д.м.н., проф. Аполихина И.А.; д.м.н., проф. Баев О.Р.; д.м.н. проф. Дикке Г.Б.; к.м.н. Пермяков А.С.; д.м.н., проф. Табакман Ю.Ю.; к.м.н. Щербатых Е.Ю; Чёрная Н.Е. и др.
                </p>
                <h5 class="h5 margin-bottom-x2 margin-top-x2">Информационная поддержка пациентов</h5>
                <p>
                    ЗАО «Пенткрофт Фарма» предоставляет печатные и он-лайн материалы для повышения информированности населения в области репродуктивного здоровья.
                </p>
                <h5 class="h5 margin-bottom-x2 margin-top-x2">Международное сотрудничество</h5>
                <p>
                    ЗАО «Пенткрофт Фарма» сотрудничает с зарубежными производителями лекарственных средств и устройств медицинского назначения для улучшения качества жизни женщин, способствует внедрению в России передовых международных практик в области совершенствования подходов к лечению и организации медицинской помощи.
                    Нам доверяют партнёры со всего мира – Великобритании, Германии, Индии, Китая, США, Турции, Чехии.

                </p>
                <h5 class="h5 margin-bottom-x2 margin-top-x2">Наши бренды</h5>
                <div class="partners-list">
                    <a href="#" class="item">
                        <div class="bg" style="background-image: url(./img/partners/1.jpg)"></div>
                    </a>
                    <a href="#" class="item">
                        <div class="bg" style="background-image: url(./img/partners/2.jpg)"></div>
                    </a>
                    <a href="#" class="item">
                        <div class="bg" style="background-image: url(./img/partners/3.jpg)"></div>
                    </a>
                    <a href="#" class="item">
                        <div class="bg" style="background-image: url(./img/partners/1.jpg)"></div>
                    </a>
                    <a href="#" class="item">
                        <div class="bg" style="background-image: url(./img/partners/2.jpg)"></div>
                    </a>
                    <a href="#" class="item">
                        <div class="bg" style="background-image: url(./img/partners/3.jpg)"></div>
                    </a>
                    <a href="#" class="item">
                        <div class="bg" style="background-image: url(./img/partners/1.jpg)"></div>
                    </a>
                    <a href="#" class="item">
                        <div class="bg" style="background-image: url(./img/partners/2.jpg)"></div>
                    </a>
                    <a href="#" class="item">
                        <div class="bg" style="background-image: url(./img/partners/3.jpg)"></div>
                    </a>
                    <a href="#" class="item">
                        <div class="bg" style="background-image: url(./img/partners/1.jpg)"></div>
                    </a>
                    <a href="#" class="item">
                        <div class="bg" style="background-image: url(./img/partners/2.jpg)"></div>
                    </a>
                    <a href="#" class="item">
                        <div class="bg" style="background-image: url(./img/partners/3.jpg)"></div>
                    </a>
                </div>
            </div>
            <div class="tab-block" data-tab="2">
                <div class="about-list">
                    <a href="#" class="about-list__item">
                        <div class="about-list__img" style="background-image: url('/img/about/news.jpg');"></div>
                        <div class="about-list__info">
                            <div class="about-list__date">16 февраля 2021</div>
                            <div class="about-list__text">
                                ЗАО «Пенткрофт Фарма» имеет многолетний опыт поддержки специалистов в области непрерывного медицинского образования и информации.
                                Собственные образовательные проекты для специалистов здравоохранения в сотрудничестве с ведущими опинион-лидерами:

                            </div>
                        </div>
                    </a>
                    <a href="#" class="about-list__item">
                        <div class="about-list__img" style="background-image: url('/img/about/news.jpg');"></div>
                        <div class="about-list__info">
                            <div class="about-list__date">16 февраля 2021</div>
                            <div class="about-list__text">
                                ЗАО «Пенткрофт Фарма» имеет многолетний опыт поддержки специалистов в области непрерывного медицинского образования и информации.
                                Собственные образовательные проекты для специалистов здравоохранения в сотрудничестве с ведущими опинион-лидерами:

                            </div>
                        </div>
                    </a>
                    <a href="#" class="about-list__item">
                        <div class="about-list__img" style="background-image: url('/img/about/news.jpg');"></div>
                        <div class="about-list__info">
                            <div class="about-list__date">16 февраля 2021</div>
                            <div class="about-list__text">
                                ЗАО «Пенткрофт Фарма» имеет многолетний опыт поддержки специалистов в области непрерывного медицинского образования и информации.
                                Собственные образовательные проекты для специалистов здравоохранения в сотрудничестве с ведущими опинион-лидерами:

                            </div>
                        </div>
                    </a>
                    <a href="#" class="about-list__item">
                        <div class="about-list__img" style="background-image: url('/img/about/news.jpg');"></div>
                        <div class="about-list__info">
                            <div class="about-list__date">16 февраля 2021</div>
                            <div class="about-list__text">
                                ЗАО «Пенткрофт Фарма» имеет многолетний опыт поддержки специалистов в области непрерывного медицинского образования и информации.
                                Собственные образовательные проекты для специалистов здравоохранения в сотрудничестве с ведущими опинион-лидерами:

                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="tab-block" data-tab="3">
                <div class="about-list">
                    <a href="#" class="about-list__item">
                        <div class="about-list__img" style="background-image: url('/img/about/news.jpg');">
                            <div class="about-list__img-video">
                                <img src="/img/about/play.svg" alt="">
                            </div>
                        </div>
                        <div class="about-list__info">
                            <div class="about-list__date">16 февраля 2021</div>
                            <div class="about-list__text">
                                ЗАО «Пенткрофт Фарма» имеет многолетний опыт поддержки специалистов в области непрерывного медицинского образования и информации.
                                Собственные образовательные проекты для специалистов здравоохранения в сотрудничестве с ведущими опинион-лидерами:

                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>
</section>


<%= _.template(require('./../includes/footer.html').default)(data) %>
