<% var data = {
title: "Каталог | Pentcroft",
header: "blue"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>


<section class="section section-bg no-padding-top">
    <div class="container">
        <div class="breadcrumbs">
            <a href="/" class="item">Главная</a>
            <span class="item">Каталог продуктов</span>
        </div>

        <div class="title-with-filter margin-top-x2">
            <h1 class="h1">Каталог продуктов</h1>

            <div class="filter-btn" id="catalog-filter-open" data-open-modal-button="catalog-modal" data-effect-type="open-modal-fade-effect">
                Нозологии<span class="text-for-search hide">:</span>
                <span class="count"></span>
            </div>
        </div>

        <div class="catalog__list margin-top-x3" id="catalog__list">
            <a href="#" class="card-item">
                <span class="divider"></span>
                <div class="card-item__top">
                    <div class="card-item__rating">
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star star-gray"></div>
                    </div>
                    <span class="card-item__tag color-1">Новинка</span>
                </div>
                <div class="card-item__content">
                    <div class="card-item__img" style="background-image: url(/img/cards/1.png)"></div>
                    <div class="card-item__text-wrap">
                        <div class="card-item__text-block">
                            <div class="card-item__title">Пессарии гинекологические</div>
                            При помощи данного кубического пессария решаются проблемы При помощи данного кубического пессария решаются проблемы При помощи данного кубического пессария решаются
                            проблемы При помощи данного кубического пессария решаются проблемы При помощи данного кубического пессария решаются проблемы При помощи данного кубического пессария решаются проблемы

                        </div>
                        <button class="button small blue">Узнать подробнее</button>
                    </div>

                </div>
            </a>
            <a href="#" class="card-item">
                <span class="divider"></span>
                <div class="card-item__top">
                    <div class="card-item__rating">
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star star-gray"></div>
                    </div>
                    <span class="card-item__tag color-1">Новинка</span>
                </div>
                <div class="card-item__content">
                    <div class="card-item__img" style="background-image: url(/img/cards/1.png)"></div>
                    <div class="card-item__text-wrap">
                        <div class="card-item__text-block">
                            <div class="card-item__title">Пессарии гинекологические</div>
                            При помощи данного кубического пессария решаются проблемы При помощи данного кубического пессария решаются проблемы При помощи данного кубического пессария решаются
                            проблемы При помощи данного кубического пессария решаются проблемы При помощи данного кубического пессария решаются проблемы При помощи данного кубического пессария решаются проблемы

                        </div>
                        <button class="button small blue">Узнать подробнее</button>
                    </div>

                </div>
            </a>
            <a href="#" class="card-item">
                <span class="divider"></span>
                <div class="card-item__top">
                    <div class="card-item__rating">
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star star-gray"></div>
                    </div>
                    <span class="card-item__tag color-1">Новинка</span>
                </div>
                <div class="card-item__content">
                    <div class="card-item__img" style="background-image: url(/img/cards/1.png)"></div>
                    <div class="card-item__text-wrap">
                        <div class="card-item__text-block">
                            <div class="card-item__title">Пессарии гинекологические</div>
                            При помощи данного кубического пессария решаются проблемы При помощи данного кубического пессария решаются проблемы При помощи данного кубического пессария решаются
                            проблемы При помощи данного кубического пессария решаются проблемы При помощи данного кубического пессария решаются проблемы При помощи данного кубического пессария решаются проблемы

                        </div>
                        <button class="button small blue">Узнать подробнее</button>
                    </div>

                </div>
            </a>
            <a href="#" class="card-item">
                <span class="divider"></span>
                <div class="card-item__top">
                    <div class="card-item__rating">
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star star-gray"></div>
                    </div>
                    <span class="card-item__tag color-1">Новинка</span>
                </div>
                <div class="card-item__content">
                    <div class="card-item__img" style="background-image: url(/img/cards/1.png)"></div>
                    <div class="card-item__text-wrap">
                        <div class="card-item__text-block">
                            <div class="card-item__title">Пессарии гинекологические</div>
                            При помощи данного кубического пессария решаются проблемы При помощи данного кубического пессария решаются проблемы При помощи данного кубического пессария решаются
                            проблемы При помощи данного кубического пессария решаются проблемы При помощи данного кубического пессария решаются проблемы При помощи данного кубического пессария решаются проблемы

                        </div>
                        <button class="button small blue">Узнать подробнее</button>
                    </div>

                </div>
            </a>
            <a href="#" class="card-item">
                <span class="divider"></span>
                <div class="card-item__top">
                    <div class="card-item__rating">
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star star-gray"></div>
                    </div>
                    <span class="card-item__tag color-1">Новинка</span>
                </div>
                <div class="card-item__content">
                    <div class="card-item__img" style="background-image: url(/img/cards/1.png)"></div>
                    <div class="card-item__text-wrap">
                        <div class="card-item__text-block">
                            <div class="card-item__title">Пессарии гинекологические</div>
                            При помощи данного кубического пессария решаются проблемы При помощи данного кубического пессария решаются проблемы При помощи данного кубического пессария решаются
                            проблемы При помощи данного кубического пессария решаются проблемы При помощи данного кубического пессария решаются проблемы При помощи данного кубического пессария решаются проблемы

                        </div>
                        <button class="button small blue">Узнать подробнее</button>
                    </div>

                </div>
            </a>
            <a href="#" class="card-item">
                <span class="divider"></span>
                <div class="card-item__top">
                    <div class="card-item__rating">
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                        <div class="star star-gray"></div>
                    </div>
                    <span class="card-item__tag color-1">Новинка</span>
                </div>
                <div class="card-item__content">
                    <div class="card-item__img" style="background-image: url(/img/cards/1.png)"></div>
                    <div class="card-item__text-wrap">
                        <div class="card-item__text-block">
                            <div class="card-item__title">Пессарии гинекологические</div>
                            При помощи данного кубического пессария решаются проблемы При помощи данного кубического пессария решаются проблемы При помощи данного кубического пессария решаются
                            проблемы При помощи данного кубического пессария решаются проблемы При помощи данного кубического пессария решаются проблемы При помощи данного кубического пессария решаются проблемы

                        </div>
                        <button class="button small blue">Узнать подробнее</button>
                    </div>

                </div>
            </a>
        </div>
    </div>
</section>

<section class="section section-bg no-padding-top">
    <div class="container">
        <form class="feed-form" id="feed_form">
            <div class="bg" style="background-image: url(/img/feed-form-bg.jpg)"></div>
            <div class="title">Подписаться на рассылку новостей</div>

            <label class="field field-input item">
                <input class="input-text placeholder validate" data-validate="email-required" placeholder="email@test.ru" data-placeholder="Адрес электронной почты"
                       name="filter-search" id="feed-follow-input" type="text">
                <p class="error-message"></p>
            </label>

            <button class="button small dark-blue" id="feed-follow-button">Подписаться</button>
        </form>
    </div>
</section>



<%= _.template(require('./../includes/footer.html').default)(data) %>
