<% var data = {
title: "Каталог | Pentcroft",
header: "blue"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>


<section class="section section-bg no-padding-top">
    <div class="container">
        <div class="breadcrumbs">
            <a href="/" class="item">Главная</a>
            <span class="item">Каталог продуктов</span>
        </div>

        <div class="title-with-filter margin-top-x2">
            <h1 class="h1">Каталог продуктов</h1>

            <div class="filter-btn catalog-filter-open" data-tab="product" data-open-modal-button="catalog-modal" data-effect-type="open-modal-fade-effect">
                Товары<span class="text-for-search hide">:</span>
                <span class="count"></span>
            </div>
            <div class="filter-btn catalog-filter-open" data-tab="nosology" data-open-modal-button="catalog-modal" data-effect-type="open-modal-fade-effect">
                Нозологии<span class="text-for-search hide">:</span>
                <span class="count"></span>
            </div>
        </div>

        <div class="catalog__list margin-top-x3" id="catalog__list" data-items='[
   {
      "id":"1",
      "productType":"1",
      "productTypeName":"Хит",
      "img":"./img/cards/1.png",
      "title":"Пессарии гинекологические1",
      "desc":" При помощи данного кубического пессария решаются проблемы При помощи данного кубического пессария решаются проблемы При помощи данного кубического пессария решаются",
      "url":"url1",
      "stars":"4",
      "nosologies":[
         "1"
      ],
      "category":"2"
   },
   {
      "id":"2",
      "productType":"1",
      "productTypeName":"Хит",
      "img":"./img/cards/2.png",
      "title":"Пессарии гинекологические2",
      "desc":" При помощи данного кубического пессария решаются проблемы При помощи данного кубического пессария решаются проблемы При помощи данного кубического пессария решаются",
      "url":"url1",
      "stars":"4",
      "nosologies":[
         "5"
      ],
      "category":"2"
   },
   {
      "id":"3",
      "productType":"1",
      "productTypeName":"Хит",
      "img":"./img/cards/3.png",
      "title":"Пессарии гинекологические3",
      "desc":" При помощи данного кубического пессария решаются проблемы При помощи данного кубического пессария решаются проблемы При помощи данного кубического пессария решаются",
      "url":"url1",
      "stars":"4",
      "nosologies":[
         "1",
         "3"
      ],
      "category":"2"
   },
   {
      "id":"4",
      "productType":"3",
      "productTypeName":"Акция",
      "img":"./img/cards/1.png",
      "title":"Пессарии гинекологические",
      "desc":" При помощи данного кубического пессария решаются проблемы При помощи данного кубического пессария решаются проблемы При помощи данного кубического пессария решаются",
      "url":"url1",
      "stars":"4",
      "nosologies":[
         "4"
      ],
      "category":"2"
   },
   {
      "id":"5",
      "productType":"1",
      "productTypeName":"Хит",
      "img":"./img/cards/1.png",
      "title":"Пессарии гинекологические",
      "desc":" При помощи данного кубического пессария решаются проблемы При помощи данного кубического пессария решаются проблемы При помощи данного кубического пессария решаются",
      "url":"url1",
      "stars":"4",
      "nosologies":[
         "1",
         "3",
         "5"
      ],
      "category":"3"
   },
   {
      "id":"6",
      "productType":"1",
      "productTypeName":"Хит",
      "img":"./img/cards/5.png",
      "title":"Пессарии гинекологические",
      "desc":" При помощи данного кубического пессария решаются проблемы При помощи данного кубического пессария решаются проблемы При помощи данного кубического пессария решаются",
      "url":"url1",
      "stars":"4",
      "nosologies":[
         "1",
         "3",
         "5"
      ],
      "category":"3"
   },
   {
      "id":"7",
      "productType":"2",
      "productTypeName":"Новинка",
      "img":"./img/cards/1.png",
      "title":"Пессарии гинекологические",
      "desc":" При помощи данного кубического пессария решаются проблемы При помощи данного кубического пессария решаются проблемы При помощи данного кубического пессария решаются",
      "url":"url1",
      "stars":"4",
      "nosologies":[
         "1",
         "3",
         "5"
      ],
      "category":"3"
   }
]'>
        </div>
    </div>
</section>




<%= _.template(require('./../includes/footer.html').default)(data) %>
