<% var data = { title: "Main | Pentcroft", header: "transparent", eng: true }; %> <%= _.template(require('./../includes/header.html').default)(data) %>
<section class="section main-top no-padding-top">
    <div class="header-margin"></div>
    <div class="bg">
        <img alt="" src="./img/loader/bg-hide.svg" />
    </div>
    <div class="container">
        <div class="main-top__content">
            <div class="left">
                <h1 class="h1 color-white margin-bottom-x2 ">
                    You can't buy health, but it can be restored and preserved
                    <span class="color-yellow">with our products</span>
                </h1>
                <p class="color-white  margin-bottom-x2 ">Together with our clients, we are driven to make healthcare better. </p>

            </div>
            <div class="right">
                <a href="" class="card">
                    <div class="bg"></div>
                    <span class="text">For doctors </span>
                    <div class="overlay">
                        <div class="img" style="background-image: url('./img/main/main1.png')"></div>
                    </div>
                </a>
                <a href="" class="card card-bottom ">
                    <div class="bg"></div>
                    <span class="text">and patients </span>
                    <div class="overlay">
                        <div class="img" style="background-image: url('./img/main/main2.png')"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>


<section class="section no-padding-vertical about eng-page">
    <div class="container">
        <div class="about-banner">
            <div class="about-banner__text">
                CJSC "Pentcroft Pharma" from the moment of its foundation aims to take care of women's health
            </div>
            <div class="about-banner__img" style="background-image: url('./img/about/1.png')"></div>
        </div>
        <p>The path, which began in 1994 with the work on the synthesis of steroids together with Pharmsintez, led in 2002 to the release of a synthetic drug with antigestagenic activity - Pencrofton (RU-486). To date, Pentcroft Pharma CJSC offers solutions and products for gynecology, obstetrics, andrology and surgery. </p>
        <h5>
            Medicinal provision
        </h5>
        <p>
            The portfolio of Pentcroft Pharma CJSC includes more than 50 original medicines, dietary supplements and medical products in the following areas:
        </p>

        <ul>
            <li>Medical termination of pregnancy</li>

            <li>Manual vacuum aspiration</li>

           <li>Intrauterine contraception</li>

            <li>Prevention of premature birth</li>

            <li>Preparation of the cervix and induction of labor</li>

            <li>Relief of postpartum bleeding</li>

            <li>Insufficiency of the pelvic floor</li>

            <li>Infertility</li>

            <li>Diagnostic tests</li>
        </ul>

        <h5>Development of science and research </h5>
        <p>
            CJSC Pentcroft Pharma cooperates with Russian research centers and specialized departments of universities in the field of clinical research of innovative methods of diagnosis, prevention and treatment.
        </p>

        <h5>
            Medical education
        </h5>
        <p>
            Pentcroft Pharma CJSC has many years of experience in supporting specialists in the field of continuing medical education and information.
            Own educational projects for healthcare professionals in collaboration with leading opinion leaders:
        </p>

        <ul>
            <li>
                "Delivery on Time" is a series of lectures devoted to one of the most pressing problems - premature birth and the possibilities of predicting and preventing them.
            </li>
            <li>
                "Health & Sex" - lectures at the intersection of the specialties of gynecology, urology and sexology reveal the whole range of modern possibilities for overcoming intimate problems
                associated with pelvic floor dysfunction. Especially for this project, an application for mobile devices on Android and iOS has been released - “Prolapse. Tests ". <br>
                Training lectures in webinar format:
            </li>
            <li>
                <p>
                    - Safe abortion and contraception
                </p>
                <p>
                    - Insufficiency of the pelvic floor
                </p>
                <p>
                    - Premature birth and prevention of ICI
                </p>
                <p>
                    - Endometrial hyperplasia
                </p>
                <p>
                    - Preparation of the cervix for childbirth.
                </p>
            </li>
        </ul>

        <p>
            Lectures are given by: Doctor of Medical Sciences, Prof. Apolikhina I.A .; MD, prof. Baev O.R .; d.m.s. prof. Dicke G.B .; Ph.D. Permyakov A.S .; MD, prof. Tabakman Y.Yu .; Ph.D. Shcherbatykh E.Yu; Chernaya N.E. and etc.
        </p>

        <h5>
            Patient information support
        </h5>

        <p>
            Pentcroft Pharma CJSC provides printed and online materials to raise awareness of the population in the field of reproductive health.
        </p>

        <h5>
            The international cooperation
        </h5>

        <p>
            Pentcroft Pharma CJSC cooperates with foreign manufacturers of medicines and medical devices to improve the quality of life of women, promotes the introduction of advanced international practices in Russia in the field of improving approaches to treatment and organization of medical care.
            We are trusted by partners from all over the world - Great Britain, Germany, India, China, USA, Turkey, Czech Republic.
        </p>




    </div>
</section>

<section class="section no-padding-vertical">
    <div class="container">
        <h5 class="h5">Our brands</h5>

        <div class="partners-list">
            <a href="#" class="item">
                <div class="bg" style="background-image: url(./img/partners/1.jpg)"></div>
            </a>
            <a href="#" class="item">
                <div class="bg" style="background-image: url(./img/partners/2.jpg)"></div>
            </a>
            <a href="#" class="item">
                <div class="bg" style="background-image: url(./img/partners/3.jpg)"></div>
            </a>
            <a href="#" class="item">
                <div class="bg" style="background-image: url(./img/partners/1.jpg)"></div>
            </a>
            <a href="#" class="item">
                <div class="bg" style="background-image: url(./img/partners/2.jpg)"></div>
            </a>
            <a href="#" class="item">
                <div class="bg" style="background-image: url(./img/partners/3.jpg)"></div>
            </a>
            <a href="#" class="item">
                <div class="bg" style="background-image: url(./img/partners/1.jpg)"></div>
            </a>
            <a href="#" class="item">
                <div class="bg" style="background-image: url(./img/partners/2.jpg)"></div>
            </a>
            <a href="#" class="item">
                <div class="bg" style="background-image: url(./img/partners/3.jpg)"></div>
            </a>
            <a href="#" class="item">
                <div class="bg" style="background-image: url(./img/partners/1.jpg)"></div>
            </a>
            <a href="#" class="item">
                <div class="bg" style="background-image: url(./img/partners/2.jpg)"></div>
            </a>
            <a href="#" class="item">
                <div class="bg" style="background-image: url(./img/partners/3.jpg)"></div>
            </a>
        </div>
    </div>
</section>

<%= _.template(require('./../includes/footer.html').default)(data) %>
