<% var data = {
title: "Новости-Видео | Pentcroft",
header: "blue", eng: false
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<section class="section no-padding-top news-detail">
    <div class="container">
        <div class="breadcrumbs">
            <a class="item" href="/">Главная</a>
            <a class="item" href="/">Компания</a>
            <a class="item" href="/">Видео</a>
            <span class="item">16 февраля 2021</span>
        </div>
    </div>

    <div class="container container-sm margin-top-x2 margin-bottom-x2">
        <img alt="" src="./img/catalog/1.jpg">

        <div class="news-detail__video">
            <video>
                <source src="./img/video.mp4" type="video/mp4">
            </video>
            <div class="play-btn">
                <img alt="" src="./img/about/play.svg">
            </div>
        </div>

        <div class="thumb-wrap">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/p3RFMEixUOE" frameborder="0" allowfullscreen></iframe>
        </div>


        <div class="news-detail__date">16 февраля 2021</div>
        <h4 class="h4">ЗАО «Пенткрофт Фарма» имеет многолетний опыт поддержки специалистов в области непрерывного медицинского образования и информации.
            Собственные образовательные проекты для специалистов здравоохранения в сотрудничестве с ведущими опинион-лидерами:
        </h4>
        <p>
            ЗАО «Пенткрофт Фарма» имеет многолетний опыт поддержки специалистов в области непрерывного медицинского образования и информации.
            Собственные образовательные проекты для специалистов здравоохранения в сотрудничестве с ведущими опинион-лидерами:
            ЗАО «Пенткрофт Фарма» имеет многолетний опыт поддержки специалистов в области непрерывного медицинского образования и информации.
            Собственные образовательные проекты для специалистов здравоохранения в сотрудничестве с ведущими опинион-лидерами:
            ЗАО «Пенткрофт Фарма» имеет многолетний опыт поддержки специалистов в области непрерывного медицинского образования и информации.
            Собственные образовательные проекты для специалистов здравоохранения в сотрудничестве с ведущими опинион-лидерами:
            ЗАО «Пенткрофт Фарма» имеет многолетний опыт поддержки специалистов в области непрерывного медицинского образования и информации.
            Собственные образовательные проекты для специалистов здравоохранения в сотрудничестве с ведущими опинион-лидерами:
            ЗАО «Пенткрофт Фарма» имеет многолетний опыт поддержки специалистов в области непрерывного медицинского образования и информации.
            Собственные образовательные проекты для специалистов здравоохранения в сотрудничестве с ведущими опинион-лидерами:
            ЗАО «Пенткрофт Фарма» имеет многолетний опыт поддержки специалистов в области непрерывного медицинского образования и информации.
            Собственные образовательные проекты для специалистов здравоохранения в сотрудничестве с ведущими опинион-лидерами:
            ЗАО «Пенткрофт Фарма» имеет многолетний опыт поддержки специалистов в области непрерывного медицинского образования и информации.
            Собственные образовательные проекты для специалистов здравоохранения в сотрудничестве с ведущими опинион-лидерами:

        </p>
    </div>
</section>


<%= _.template(require('./../includes/footer.html').default)(data) %>
