<% var data = {
title: "Закупщикам | Pentcroft",
header: "blue", eng: false
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<section class="section no-padding-top">
    <div class="container">
        <div class="breadcrumbs">
            <a href="/" class="item">Главная</a>
            <span class="item">Закупщикам</span>
        </div>

        <h1 class="h1 margin-top-x2 margin-bottom-x2">Закупщикам</h1>
        <p>Вот вам яркий пример современных тенденций - социально-экономическое развитие играет важную роль в формировании стандартных подходов. Разбавленное изрядной долей эмпатии, рациональное мышление однозначно фиксирует необходимость системы массового участия. В рамках спецификации современных стандартов, элементы политического процесса своевременно верифицированы.</p>


        <form action="/byers.php" class="form">
            <h4 class="h4 margin-bottom-x2">Оставить заявку на актуальный прайс для юридических лиц</h4>

            <!--<div class="margin-bottom-x2 margin-top-x2">
                <input type="checkbox" id="entity" name="entity-group" checked>
                <label class="" for="entity">
                    <span>Группа покупателя – юридическое лицо</span>
                </label>
            </div>-->

            <div class="form-row">
                <label class="field field-input field-required">
                    <input class="input-text placeholder validate" data-validate="required-min" placeholder="Введите ваше имя" data-placeholder="ФИО"
                           name="name" id="f_name" type="text">
                    <p class="error-message"></p>
                </label>
                <label class="field field-input field-required">
                    <input class="input-text placeholder validate" data-validate="email-required" placeholder="Введите email" data-placeholder="Электронная почта"
                           name="mail" id="f_email" type="text">
                    <p class="error-message"></p>
                </label>
            </div>

            <div class="form-row">
                <label class="field field-input field-required">
                    <input class="input-text placeholder validate input-mask" data-mask_tpl="phone_plus7" data-validate="number_phone-required" placeholder="Введите телефон" data-placeholder="Номер телефона"
                           name="feedback_phone" id="f_phone" type="text">
                    <p class="error-message"></p>
                </label>
                <label class="field field-input field-required">
                    <input class="input-text placeholder validate" data-validate="required" placeholder="Введите наименование контрагента" data-placeholder="Наименование контрагента"
                           name="ctrAgentName" id="f_contractor" type="text">
                    <p class="error-message"></p>
                </label>
            </div>

            <div class="form-row">
                <label class="field field-input field-required">
                    <input class="input-text placeholder validate" data-validate="required-min-number" data-min-length="12" placeholder="Введите ИНН" data-placeholder="ИНН контрагента"
                           name="inn" id="f_inn" type="text">
                    <p class="error-message"></p>
                </label>
               <!-- <label class="field field-input field-required">
                    <input class="input-text placeholder validate" data-validate="required" placeholder="Введите ИНН контрагента" data-placeholder="ИНН контрагента"
                           name="c-inn" id="f_c-inn" type="text">
                    <p class="error-message"></p>
                </label>-->
            </div>

            <input type="text" hidden name="cc" value="78">
            <input type="text" hidden name="sub" value="78">

            <div class="form-footer">
                <div class="form-footer__captcha hide">
                    <div class="g-recaptcha" data-sitekey="6LcnoFsaAAAAAAoi9V8c1eNAQsfBzMkpvvx5rdRm"></div>
                    <div class="error-message"></div>
                </div>

                <button class="button" type="submit">Оставить заявку</button>
            </div>

            <div class="form-message">
                <img class="error" src="./img/error.svg" alt="">
                <img class="success" src="./img/success.svg" alt="">
                <div class="title h4"></div>
                <p class="text margin-bottom"></p>
                <button class="button close-form-message hide">Закрыть</button>
            </div>
        </form>
    </div>
</section>



<%= _.template(require('./../includes/footer.html').default)(data) %>
