<% var data = {
title: "Вопрос-ответ | Pentcroft",
header: "blue"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>


<section class="section no-padding-vertical">
    <div class="container">
        <div class="breadcrumbs">
            <a href="/" class="item">Главная</a>
            <span class="item">Вопрос-ответ</span>
        </div>

        <h1 class="h1 margin-top-x2 margin-bottom-x2">Вопрос-ответ</h1>

        <form class="form">
            <h4 class="h4 margin-bottom-x2">Задайте ваш вопрос</h4>

            <div class="form-row">
                <label class="field field-input field-required">
                    <input class="input-text placeholder validate" data-validate="required" placeholder="Введите ваше имя" data-placeholder="ФИО"
                           name="name" id="f_name" type="text">
                    <p class="error-message"></p>
                </label>
                <label class="field field-input field-required">
                    <input class="input-text placeholder validate" data-validate="email-required" placeholder="Введите email" data-placeholder="Электронная почта"
                           name="mail" id="f_email" type="text">
                    <p class="error-message"></p>
                </label>
            </div>

            <div class="form-row form-row--big">
                <label class="field field-input field-required">
                    <textarea class="input-text placeholder validate" data-validate="required" placeholder="Введите ваш вопрос"
                       data-placeholder="Ваш вопрос"
                              name="question" id="f_question"></textarea>
                    <p class="error-message"></p>
                </label>
            </div>

            <input type="text" hidden name="cc" value="78">
            <input type="text" hidden name="sub" value="78">

            <div class="form-footer">
                <div class="form-footer__captcha hide">
                    <div class="g-recaptcha" data-sitekey="6LcnoFsaAAAAAAoi9V8c1eNAQsfBzMkpvvx5rdRm"></div>
                    <div class="error-message"></div>
                </div>

                <button class="button" type="submit">Отправить вопрос</button>
            </div>

            <div class="form-message">
                <img class="error" src="./img/error.svg" alt="">
                <img class="success" src="./img/success.svg" alt="">
                <div class="title h4"></div>
                <p class="text"></p>
            </div>
        </form>
    </div>
</section>

<section class="section info no-padding-top">
    <div class="container">
        <div class="info__wrap">
            <div class="item">
                <div class="top">
                    <p class="h6">Подтверждено: сознание наших соотечественников не замутнено пропагандой?</p>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="item-path"
                              d="M17 11H13V7C13 6.73478 12.8946 6.48043 12.7071 6.29289C12.5196 6.10536 12.2652 6 12 6C11.7348 6 11.4804 6.10536 11.2929 6.29289C11.1054 6.48043 11 6.73478 11 7V11H7C6.73478 11 6.48043 11.1054 6.29289 11.2929C6.10536 11.4804 6 11.7348 6 12C6 12.2652 6.10536 12.5196 6.29289 12.7071C6.48043 12.8946 6.73478 13 7 13H11V17C11 17.2652 11.1054 17.5196 11.2929 17.7071C11.4804 17.8946 11.7348 18 12 18C12.2652 18 12.5196 17.8946 12.7071 17.7071C12.8946 17.5196 13 17.2652 13 17V13H17C17.2652 13 17.5196 12.8946 17.7071 12.7071C17.8946 12.5196 18 12.2652 18 12C18 11.7348 17.8946 11.4804 17.7071 11.2929C17.5196 11.1054 17.2652 11 17 11Z" fill="#191C1F"/>
                        <circle class="item-circle"  cx="12" cy="12" r="11" stroke="#191C1F" stroke-width="2"/>
                    </svg>
                </div>
                <div class="content">
                    <p class="color-gray body16-mobile">
                        В частности, дальнейшее развитие различных форм деятельности позволяет выполнить важные задания по разработке дальнейших направлений развития. Предварительные выводы неутешительны: экономическая повестка сегодняшнего дня говорит о возможностях существующих финансовых и административных условий.
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="top">
                    <p class="h6">Подтверждено: сознание наших соотечественников не замутнено пропагандой?</p>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="item-path"
                              d="M17 11H13V7C13 6.73478 12.8946 6.48043 12.7071 6.29289C12.5196 6.10536 12.2652 6 12 6C11.7348 6 11.4804 6.10536 11.2929 6.29289C11.1054 6.48043 11 6.73478 11 7V11H7C6.73478 11 6.48043 11.1054 6.29289 11.2929C6.10536 11.4804 6 11.7348 6 12C6 12.2652 6.10536 12.5196 6.29289 12.7071C6.48043 12.8946 6.73478 13 7 13H11V17C11 17.2652 11.1054 17.5196 11.2929 17.7071C11.4804 17.8946 11.7348 18 12 18C12.2652 18 12.5196 17.8946 12.7071 17.7071C12.8946 17.5196 13 17.2652 13 17V13H17C17.2652 13 17.5196 12.8946 17.7071 12.7071C17.8946 12.5196 18 12.2652 18 12C18 11.7348 17.8946 11.4804 17.7071 11.2929C17.5196 11.1054 17.2652 11 17 11Z" fill="#191C1F"/>
                        <circle class="item-circle"  cx="12" cy="12" r="11" stroke="#191C1F" stroke-width="2"/>
                    </svg>
                </div>
                <div class="content">
                    <p class="color-gray body16-mobile">
                        В частности, дальнейшее развитие различных форм деятельности позволяет выполнить важные задания по разработке дальнейших направлений развития. Предварительные выводы неутешительны: экономическая повестка сегодняшнего дня говорит о возможностях существующих финансовых и административных условий.
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="top">
                    <p class="h6">Подтверждено: сознание наших соотечественников не замутнено пропагандой?</p>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="item-path"
                              d="M17 11H13V7C13 6.73478 12.8946 6.48043 12.7071 6.29289C12.5196 6.10536 12.2652 6 12 6C11.7348 6 11.4804 6.10536 11.2929 6.29289C11.1054 6.48043 11 6.73478 11 7V11H7C6.73478 11 6.48043 11.1054 6.29289 11.2929C6.10536 11.4804 6 11.7348 6 12C6 12.2652 6.10536 12.5196 6.29289 12.7071C6.48043 12.8946 6.73478 13 7 13H11V17C11 17.2652 11.1054 17.5196 11.2929 17.7071C11.4804 17.8946 11.7348 18 12 18C12.2652 18 12.5196 17.8946 12.7071 17.7071C12.8946 17.5196 13 17.2652 13 17V13H17C17.2652 13 17.5196 12.8946 17.7071 12.7071C17.8946 12.5196 18 12.2652 18 12C18 11.7348 17.8946 11.4804 17.7071 11.2929C17.5196 11.1054 17.2652 11 17 11Z" fill="#191C1F"/>
                        <circle class="item-circle"  cx="12" cy="12" r="11" stroke="#191C1F" stroke-width="2"/>
                    </svg>
                </div>
                <div class="content">
                    <p class="color-gray body16-mobile">
                        В частности, дальнейшее развитие различных форм деятельности позволяет выполнить важные задания по разработке дальнейших направлений развития. Предварительные выводы неутешительны: экономическая повестка сегодняшнего дня говорит о возможностях существующих финансовых и административных условий.
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="top">
                    <p class="h6">Подтверждено: сознание наших соотечественников не замутнено пропагандой?</p>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="item-path"
                              d="M17 11H13V7C13 6.73478 12.8946 6.48043 12.7071 6.29289C12.5196 6.10536 12.2652 6 12 6C11.7348 6 11.4804 6.10536 11.2929 6.29289C11.1054 6.48043 11 6.73478 11 7V11H7C6.73478 11 6.48043 11.1054 6.29289 11.2929C6.10536 11.4804 6 11.7348 6 12C6 12.2652 6.10536 12.5196 6.29289 12.7071C6.48043 12.8946 6.73478 13 7 13H11V17C11 17.2652 11.1054 17.5196 11.2929 17.7071C11.4804 17.8946 11.7348 18 12 18C12.2652 18 12.5196 17.8946 12.7071 17.7071C12.8946 17.5196 13 17.2652 13 17V13H17C17.2652 13 17.5196 12.8946 17.7071 12.7071C17.8946 12.5196 18 12.2652 18 12C18 11.7348 17.8946 11.4804 17.7071 11.2929C17.5196 11.1054 17.2652 11 17 11Z" fill="#191C1F"/>
                        <circle class="item-circle"  cx="12" cy="12" r="11" stroke="#191C1F" stroke-width="2"/>
                    </svg>
                </div>
                <div class="content">
                    <p class="color-gray body16-mobile">
                        В частности, дальнейшее развитие различных форм деятельности позволяет выполнить важные задания по разработке дальнейших направлений развития. Предварительные выводы неутешительны: экономическая повестка сегодняшнего дня говорит о возможностях существующих финансовых и административных условий.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<%= _.template(require('./../includes/footer.html').default)(data) %>
