.catalog-modal {
    .catalog-categories-list {
        padding-bottom: 80px;

        @include only-mobile {
            padding-bottom: 70px;
        }
    }

    .filter-title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include mobile {
            flex-wrap: wrap;
        }
    }

    .fixed-catalog-btn {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: rgba(255,255,255,0.6);
       /* -webkit-box-shadow: 0px -2px 8px -1px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 0px -2px 8px -1px rgba(34, 60, 80, 0.2);
        box-shadow: 0px -2px 8px -1px rgba(34, 60, 80, 0.2);*/

        .button, p {
            margin: 15px 0;

            @include only-mobile {
                margin: 8px 0;
            }
        }
    }
    .modal-content {
        margin: 0 !important;
        max-width: 100%;
        overflow: auto;
        padding-bottom: 50px;

        &::-webkit-scrollbar {
            width: 0;
        }

        & {
            -ms-overflow-style: none;
        }

        & {
            overflow: -moz-scrollbars-none;
        }
    }

    .h1 {
        .count {
            color: $colorBlue;
        }
    }

    .field {
        overflow: hidden;
    }

    .filter-search-block {
        display: flex;
        align-items: center;

        .filter-clear-search {
            display: none;
            margin-left: 20px;
            font-weight: bold;
            font-size: 19px;
            line-height: 32px;
            color: $colorText;
            cursor: pointer;

            @include mobile {
                font-size: 15px;
                line-height: 26px;
                margin-left: 12px;
            }

            &.show {
                display: inline-block;
            }
        }

        .field {
            width: 100%;
        }
    }

    .filter-item {
        margin-bottom: 28px;

        span {
            font-size: 20px;
            line-height: 24px;
            color: $colorText;
        }

        &.filter-item__main {
            span {
                font-weight: bold;
                font-size: 19px;
                line-height: 24px;
                text-decoration-line: underline;
                color: $colorBlue;
            }
        }

        &.disabled {
            opacity: 0.6;
            color: $colorGray;
            pointer-events: none;
        }
    }

    .letter-item {
        position: relative;
        padding-left: 42px;
        padding-top: 4px;
        margin-bottom: 28px;

        .letter {
            position: absolute;
            top: 0;
            left: 0;
            font-weight: 800;
            font-size: 28px;
            line-height: 1;
            text-align: center;
            color: $colorText;
        }
    }

    @include mobile {
        .filter-item {
            font-size: 18px;
            line-height: 22px;
        }
        .letter-item {
            padding-top: 1px;
            padding-left: 22px;

            .letter {
                font-size: 16px;
                line-height: 19px;
            }
        }
        .h1 {
            margin-bottom: 0;
        }
    }
}
