// Типографика форм

input, textarea, select {
    font-family: 'TT Norms Pro' !important;
}

@-webkit-keyframes autofill {
    to {
        background: #ffffff;
    }
}


::-webkit-input-placeholder {
    font-weight: 400;
    color: $colorGray;
}

:-ms-input-placeholder {
    font-weight: 400;
    color: $colorGray;
}

::-moz-placeholder {
    font-weight: 400;
    color: $colorGray;
    opacity: 1;
}

:-moz-placeholder {
    font-weight: 400;
    color: $colorGray;
    opacity: 1;
}


.form {
    position: relative;
    background: $colorWhite;
    border: 1px solid #F1F3F5;
    box-sizing: border-box;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    padding: 34px 86px;
    margin: 32px 0;
    overflow: hidden;

    @include only-mobile {
        padding: 14px 7px;
    }

    .form-row {
        display: flex;
        margin: 0 -13px 25px;

        .field {
            width: calc(50% - 26px);
            margin: 0 13px;
        }

        &.form-row--big {
            margin: 0 0 25px;

            .field {
                width: 100%;
                margin: 0;
            }
        }

        @include mobile {
            margin: 0;
            flex-wrap: wrap;

            .field {
                width: 100%;
                margin: 0 0 25px;
            }
        }
    }

    .form-message {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $colorWhite;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transform: translateY(100%);
        opacity: 0;
        transition: 0.2s ease;
        padding: 5px 17px;

        img {
            display: none;
            width: 80px;
        }

        .title {
            margin: 20px 0;
            text-align: center;
        }

        .text {
            text-align: center;
            margin-bottom: 15px;
        }

        .button {
            display: inline-block !important;
        }
    }

    .form-footer {
        display: flex;
        align-items: flex-start;

        .form-footer__text {
            margin-left: 21px;
            font-size: 15px;
            line-height: 25px;
            color: $colorText;

            a {
                font-size: 15px;
                line-height: 25px;
                color: $colorBlue;
            }
        }

        .button {
            margin-left: auto;
        }

        .form-footer__captcha {
            position: relative;

            .error-message {
                margin: 5px 0 0;
                font-size: 12px;
                line-height: 16px;
                font-weight: 400;
                color: $colorRed;
                position: absolute;
                left: 0;
                bottom: -14px;
            }
        }

        @include mobile {
            flex-wrap: wrap;

            .form-footer__text {
                margin-left: 0;
                width: 100%;
                align-items: center;
            }

            .button {
                width: 100%;
                margin: 10px 0;
            }
        }
    }

    &.show-message {
        .form-message {
            opacity: 1;
            transform: translateY(0);
            z-index: 77;
        }

        *:not(.form-message) {
            z-index: -1;
        }

        &.error {
            .form-message {
                .error {
                    display: block;
                }

                .button {
                    display: none !important;
                }
            }
        }

        &.success {
            .form-message {
                .success {
                    display: block;
                }
            }
        }
    }


}


.field {
    position: relative;
    display: block;
    margin: 16px 0;
    padding: 1px 0 0 0;
    cursor: pointer;
    z-index: 999;

    .label {
        display: inline-block;
        width: 100%;
        position: absolute;
        z-index: 20;
        margin-top: 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $colorGray;
        left: 17px;
        top: 13px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
        font-family: $fontBase !important;
        white-space: nowrap;
    }

    .input-text, .input-fill-control {
        display: flex;
        width: 100%;
        height: 72px;
        font-weight: bold;
        font-size: 19px;
        line-height: 32px;
        color: $colorText;
        padding: 30px 17px 10px;
        border: 1px solid $colorGrayMiddle;
        box-sizing: border-box;
        border-radius: 5px;
        font-family: $fontBase !important;

        &:-webkit-autofill {
            -webkit-animation-name: autofill;
            -webkit-animation-fill-mode: both;
        }

        &:focus {
            border: 1px solid $colorBlue;
        }

    }

    &.empty {
        .label {
            top: 24px;
            left: 17px;
            font-size: 20px;
            line-height: 24px;
            color: $colorText;

            @include only-mobile {
                top: 28px;
                font-size: 17px;
                line-height: 21px;
            }
        }

        .input-text {
            background: $colorBg;
            border: 1px solid $colorBg;

            &::-webkit-input-placeholder {
                opacity: 0;
            }

            &:-ms-input-placeholder {
                opacity: 0;
            }

            &::-moz-placeholder {
                opacity: 0;
            }

            &:-moz-placeholder {
                opacity: 0;
            }
        }
    }

    &.with-search-icon {
        .label {
            left: 17px;
        }

        &:before {
            display: none;
        }

        .input-text {
            padding-left: 17px;
        }
    }

    &.with-search-icon.empty {
        .label {
            left: 54px;
        }

        &:before {
            position: absolute;
            top: 26px;
            left: 17px;
            font-size: 20px;
            display: block;
            content: "\6d";
            font-family: "pentcroft" !important;
            font-style: normal !important;
            font-weight: normal !important;
            font-variant: normal !important;
            text-transform: none !important;
            speak: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }

    @include desktop {
        &:hover {
            .input-text, .input-fill-control {
                border: 1px solid $colorGrayMiddle;
            }

        }
    }

    .error-message {
        display: none;
        margin: 5px 0 0 0;
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
        color: $colorRed;
        position: absolute;
        bottom: -16px;
        left: 0;
    }

    textarea.input-text {
        height: 168px;
        resize: none;
    }

    &.error {
        input, select, textarea {
            color: $colorText;
            border-color: $colorRed !important;
        }

        .error-message {
            display: block;
        }
    }

    &.field-required {
        .label {
            &:after {
                content: '*';
                color: $colorRed;
                display: inline-block;
                font-size: 14px;
                line-height: 17px;
                margin-left: 3px;
            }
        }

        &.empty {
            .label {
                &:after {
                    font-size: 16px;
                    line-height: 19px;
                    margin-left: 3px;
                }
            }
        }


    }
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 40px;
    cursor: pointer;
    font-size: 20px;
    line-height: 34px;
    color: $colorText;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 7px;
    width: 18px;
    height: 18px;
    border: 1px solid $colorGrayLight;
    background-color: #ffffff;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 4px;
}

input[type="checkbox"]:checked + label:before {
    background: $colorBlue;
    border: 1px solid $colorBlue;
}


input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
    left: 4px;
    top: 11px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 3px solid $colorWhite;
    border-bottom: 3px solid $colorWhite;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after {
    opacity: 1;
}


