.tabs {
    display: flex;
    align-items: center;
    overflow: auto;
    .item {
        display: inline-block;
        font-weight: bold;
        font-size: 17px;
        line-height: 29px;
        padding: 10px 16px;
        color: $colorText;
        border-radius: 6px;
        border: 2px solid $colorGrayLight;
        cursor: pointer;
        white-space: nowrap;
        &.disabled {
            opacity: 0.5;
            pointer-events: none;
        }
        &.active {
            border: 2px solid $colorBlue !important;
            background: $colorBlue !important;
            color: $colorWhite !important;
        }
        @include desktop {
            &:hover {
                border: 2px solid $colorBlue;
                color: $colorBlue;
            }
        }
    }
    .item + .item {
        margin-left: 14px;
    }
}
.filter-btn {
    width: 100%;
    position: relative;
    background: $colorWhite;
    border-radius: 6px;
    color: $colorText;
    white-space: nowrap;
    padding: 10px 30px 10px 17px;
    font-size: 17px;
    line-height: 29px;
    font-weight: 700;
    height: 50px;
    min-height: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    border: 2px solid $colorBlue;
    cursor: pointer;
    &:after{
        font-family: "pentcroft" !important;
        position: absolute;
        top: 10px;
        right: 17px;
        content: "\61";
        color: $colorText;
        border: 0;
        font-size: 18px;
        width: 10px;
        height: 10px;
    }
    .count {
        display: inline-block;
        margin-left: 2px;
        color: $colorBlue;
    }

}
.breadcrumbs {
    display: flex;
    align-items: center;
    overflow: auto;
    border-bottom: 1px solid rgba(96, 103, 108, 0.1);
    padding: 15px 0;
    @include desktop-small {
        padding: 5px 0;
    }
    .item {
        display: inline-block;
        position: relative;
        font-size: 17px;
        line-height: 29px;
        color: $colorGray;
        text-decoration: none;
        white-space: nowrap;
    }
    .item + .item {
        margin-left: 29px;
        &:before {
            position: absolute;
            top: 13px;
            left: -15px;
            width: 3px;
            height: 3px;
            content: '';
            background: $colorGray;
            border-radius: 50%;
        }
    }
    a.item {
        @include desktop {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
.title-with-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .h1 {
        white-space: nowrap;
    }
    .filter-btn {
        width: 304px;
    }
    @include desktop-small {
        margin-top: 15px !important;
    }
    @include mobile {
        flex-wrap: wrap;
        .h1 {
            white-space: nowrap;
            margin-bottom: 23px;
        }
        .filter-btn {
            width: 100%;
        }
    }
}
.search-highlight {
    display: inline-block;
    background: #F1D693;
}
.no-input-checkbox {
    display: block;
    position: relative;
    padding-left: 32px;
    line-height: 20px;
    font-size: 17px;
    color: $colorText;
    margin-bottom: 20px;
    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 1px;
        width: 18px;
        height: 18px;
        border-radius: 4px;
        background: $colorBlue;
        border: 1px solid $colorBlue;
    }
    &:after {
        content: "";
        position: absolute;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
        left: 4px;
        top: 5px;
        width: 10px;
        height: 5px;
        border-radius: 1px;
        border-left: 3px solid $colorWhite;
        border-bottom: 3px solid $colorWhite;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        opacity: 1;
    }
}

.tab-block {
    display: none;
    &.active {
        display: block;
    }
}
