.swiper-button {
    position: absolute;
    top: calc(50% - 14px);
    cursor: pointer;
    i {
        font-size: 25px;
        color: $colorGray;
    }
    &.swiper-button-prev {
        left: -45px;
    }
    &.swiper-button-next {
        right: -45px;
    }
    @include desktop {
        &:hover {
            i {
                color: $colorMainBlue;
            }
        }
    }
    &.swiper-button-disabled {
        display: none;
        opacity: .7;
        @include desktop {
            &:hover {
                i {
                    color: $colorGray;
                }
            }
        }
    }

    @include only-mobile {
        width: 30px;
        height: 30px;
    }
}



