$fontBase: 'TT Norms Pro', Arial, sans-serif;

$colorMainBlue: #005CA9;
$colorBlue: #008BFF;
$colorBlueDark: #0158A1;
$colorWhite: #fff;
$colorBlack: #000;
$colorYellow: #FFE39C;
$colorRed: #FF6565;
$colorBrown: #B69084;
$colorText: #002D52;
$colorTextGray: #6A6A6A;
$colorGray: #60676C;
$colorGrayLight: #929DA6;
$colorGrayMiddle: #9FB684;
$colorGrayDarken: #F2F2F2;
$colorBg: #F1F3F5;
$colorBgSection: #F8F8F8;


