$fontBase: 'TT Norms Pro', Arial, sans-serif;

$colorMainBlue: #005CA9;
$colorBlue: #008BFF;
$colorWhite: #fff;
$colorBlack: #000;
$colorYellow: #FFE39C;
$colorRed: #FF6565;
$colorText: #002D52;
$colorGray: #60676C;
$colorGrayLight: #929DA6;
$colorGrayMiddle: #9FB684;
$colorBg: #F1F3F5;


